<!-- Main Content -->
{{> site-top }}
<div class="container">
  <div class="row">
    <div class="col-md-9">
      {{#each posts}}
        <div class="media">
          <div class="media-left">
            <img src="/images/{{ thumbnail }}" class="media-object mr-3" style="width:200px">
          </div>
          <div class="media-body">
            <a href="post/{{ _id }}">
              <h4 class="media-heading">{{ title }}</h4>
            </a>
            
            {{{ cutText body}}}
          </div>
        </div>
        <hr>
      {{/each}}
      <!-- Pager -->
      <div class="clearfix">
        {{#unless isFirstPage}}
          <a class="btn btn-primary float-left" href="?page={{ prevPage }}"> &larr; Previous Posts </a>
        {{/unless}}
        {{#unless isLastPage}}
        <a class="btn btn-primary float-right" href="?page={{ nextPage }}">Older Posts &rarr;</a>
        {{/unless}}
      </div>
    </div>
    <div class="col-md-3">
      {{#each categories}}
        <div><a href="/category/{{ url }}">{{ name }}</a></div>
      {{/each}}
    </div>
  </div>
</div>